<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    
    <div class="ui success message" style="display: none">
      <p><%= success %></p>
    </div>

    <div class="ui error message js-error" style="display: none">
      <p><%= error %></p>
    </div>

  </div>
</div>